/* .p-liste{
    background-color: aqua;
} */

.liste-x{
    display: inline-block;
    width: 55px;
    height: 15px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.liste-result{
    /* display: inline-block; */
    background-color: rgb(164, 167, 164);
    width: 55px;
    height: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    padding: 7px;
    cursor: pointer;
}

.solution{
    /* display: inline-block; */
    background-color: rgb(0, 89, 255);
    width: 55px;
    height: 15px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 70px;
    padding: 7px;
    color: white;
    cursor: default;
}

.solution-rest{
    /* display: inline-block; */
    background-color: rgb(0, 89, 255);
     width: 55px;
    height: 15px;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 100px;
    padding: 7px;
    color: white;
    cursor: default;
}

#solution-27{
    transform: translate(-5px);
}